#container {
  margin: 0 auto;
  width: 33%;
}

.step {
  margin: 2rem auto 4rem auto;
  border: 1px solid #333;
}

.step.is-active {
  background-color: lightgoldenrodyellow;
}

.step p {
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
}
